@import url("https://fonts.googleapis.com/css2?family=Cantata+One&family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-off-white: #faf9f6;
  --color-dark: #121212;
  --color-white-bg: #eae8e1;
  --color-dark-bg: #303030;

  --font-primary: "Quicksand", sans-serif;
  --font-secondary: "Cantata One", serif;
  --font-tertiary: "Fredoka", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  /* Safari and Chrome */
  display: none;
}
